.access{
    background-color: $DesaturatedBlue;
    padding: 4em 1em;

    &__title{
        margin: 0;
        font-size: 1.25em;
        font-family: $font;
    }
    &__paragraph{
        font-size: .95em;
        line-height: 22.5px;
    }

    &__title,&__paragraph{
        text-align: center;
        color: white;
    }

    &-form{
        @include form;

        &__email,&__button{
            width: 85%;
            font-size: .8em;
        }
        &__email{
            padding-left: .5em;
        }
    }
}

@media screen and (min-width:1024px){
    .access{
        padding-left: 2em;
        padding-right: 2em;
        &__box{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,50%);
            grid-template-rows: auto;
            align-items: center;
        }
        &-form{
            width: 85%;
            align-items: flex-start;
            margin-left: auto;

            &__button{
                width: 50%;
                &:hover{
                    opacity: 1;
                    filter: brightness(150%);
                }
            }
        }
        &__title{
            font-size: 1.8em;
        }

        &__title,&__paragraph{
            text-align: left;
        }
    }
}

@media screen and (min-width:1240px){
    .access{
        &__box{
            width: 90%;
        }
        &__paragraph{
            padding-right: 5em;
        }

        &-form{
            &__email{
                padding: .8em 1em;
                font-size: 1em;
            }
            &__button{
                font-size: .9em;
                padding: 1em;
            }
        }
    }
}

@media screen and (min-width:1440px){
    .access{
        &__title{
            font-size: 2.5em;
        }

        &__paragraph{
            font-size: 1.2em;
        }

        &-form{
            &__email,&__button{
                font-size: 1em;
            }
            &__email{
                padding: .8em 1em;
            }
            &__button{
                padding: 1em;
            }
        }
    }
}