@mixin form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__email,&__button{
        width: 100%;
        padding: .8em;
        border: none;
        border-radius: 2px;
        
        box-shadow: 10px 5px 18px -17px $LightGray;
    }
    
    &__email{
        color: $LightGray;
        background-color: white;
        box-sizing: border-box;

        padding-left: 1.5em;
        margin-bottom: .5em;
    }
    &__button{
        color: $LightGrayishBlue;
        background-color: $BrightBlue;
        font-weight: 700;
    }
}