.card{
    width: 70%;
    padding: 1em 0;
    padding-left: 2em;
    padding-right: 1em;
    margin-top: 2em;
    background-color: white;

    border-radius: 5px;

    &__paragraph{
        margin-top: .25em;
        font-size: .7em;
    }

    &__person{
        display: flex;
        align-items: center;
    }

    &__avatar{
        border-radius: 50%;
        max-height: 100%;
        width: 10%;
    }

    &__person-block{
        margin-left: .5em;
    }

    &__title,&__subtitle{
        margin: 0;
    }
    &__title{
        font-size: .8em;
        margin-bottom: .25em;
    }
    &__subtitle{
        font-size: .6em;
    }
}

@media screen and (min-width:1024px){
    .card{
        width: 50%;
        padding-left: 1.5em;
    }
}

@media screen and (min-width:1240px){
    .card{
        padding: 1.5em 2em;
        &__paragraph{
            font-size: .9em;
            line-height: 20px;
        }
        &__title{
            font-size: 1em;
        }
        &__subtitle{
            font-size: .8em;
        }
    }
}